#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  padding:1em;
  margin: 2em;
  margin-left: 3em;
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.3);
  width:30em;
  height:20em;
  text-align: center;
}
th{
  background-color: aquamarine;
}
td{
  background-color:bisque;
}
.card {
  padding: 2em;
}


